@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 8%;
    --foreground: 0 0% 98%;

    --card: 210 17% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 210 17% 8%;
    --popover-foreground: 0 0% 98%;

    --initial: 205 94% 53%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 210 14% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 210 14% 15%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 210 14% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 14% 15%;
    --input: 210 14% 15%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*,
*::before,
*::after,
pre,
code {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}

*::-webkit-scrollbar {
  display: none;
}
